*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
flex-direction: column;

min-height: 100vh;



  }
  .container{
    flex:1;
  }
.navbar{
    height: 5rem;
    /* background-color:rgb(160, 191, 203); */
    backdrop-filter: blur(15px);
    border: none !important;
}

.fa-compass{
 color:#fe424d ; 
 font-size: 2rem;  
}

.nav-link {
    color: #ffffff !important;
    background-color: #fe424d !important;
    margin-left: 20px;
    border-radius: 10px;
}

  /* footer  */

  .f-info-links a{
text-decoration: none;
color: #222222;
  }

  .f-info-links a:hover{
    text-decoration: underline;
  }
  .f-info-links,
  .f-info-social,
  .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


  }

.f-info-social i{
      font-size: 1.3rem;
    margin-right: 1rem;
 
  }



  .f-info{
    text-align: center;
    display: flex;
    height: 8rem;
     background-color: #ebebeb;
     flex-wrap: wrap;
     justify-content: center;
     align-items: space-evenly;


  }

  /* cards */

  .listing-card{
    border: none !important;
    margin-bottom:2rem ;
    
    transition: transform 0.3s ease;
  }
  .listing-card:hover{
    transform: skew(-5deg ,-5deg);
    
  }
  .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;


  }
  .card-body{
    padding: 0 !important;

  }

  .card-text p{
    font-weight: 400;

  }

  .listing-link{
    text-decoration: none !important;
  }

  /* card effect */


  .card-img-overlay{
    opacity: 0;
  }

  .card-img-overlay:hover{
    /* opacity: 0.2; */
    background-color: white;
    
  }

  .add-btn{
    background-color: #fe424d !important;
    border: none !important;
  }

  .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
  }

  .delete-btn{
    background-color: #fe424d !important;
    border: none !important;
  }

  .show-image{
    height: 30vh;
  }

  .btns{
    display: flex;
  }

  .show-card{
    padding-left:0 ;
    padding-right:0 ;
  }

  #map{
  height:400px ;
  width: 80vh;
  }